/.env.local.dev
/.env.local.prod
*.js
!jest.config.js
manifest.json.bak
styles.css

# Intellij
*.iml
.idea

/node_modules/*

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store
